@import "tailwindcss";
button{
 cursor: pointer;
}

:root{
 --GradBg:#004A8F;
 --Main:#0D5CAE;
 --LightTxt:#031323B2;;
 --Light:#E6F1FD;
 --Input:#E6F1FDE5;
 --Yellow:#F5D019;
 --SubText:#031323A6 ;
 --SubTextBorder:#68686880;

}

*,*::after,*::before{
 font-family:'poppins';
}
